In [9]:
import imp
#imp.reload(childesr_wrapper)
from modules import childesr_wrapper

In [10]:
#this kinda sucks, not sure how to fix
childesr_wrapper.connect_to_childes()

R[write to console]: Using current database version: '2018.1'.

R object with classes: ('MySQLConnection',) mapped to:

In [11]:
childesr_wrapper.clear_connections()

R[write to console]: Cleared 1 connections

<rpy2.rinterface_lib.sexp.NULLType object at 0x10fc77320> [RTYPES.NILSXP]

In [5]:
childesr_wrapper.get_tokens(token = "dog%", corpus = ["providence","manchester"], age = [2, 40])

R[write to console]: Using current database version: '2018.1'.

R[write to console]: Getting data from 19 children in 2 corpora...

,id,gloss,stem,part_of_speech,speaker_id,utterance_id,token_order,corpus_id,transcript_id,speaker_code,...,utterance_type,collection_id,collection_name,english,prefix,suffix,num_morphemes,language,corpus_name,clitic
1,7145956,dog,dog,n,3621,1856507,6,49,5463,MOT,...,question,3,Eng-NA,,,,1,eng,Providence,
2,7145975,dog,dog,n,3621,1856523,5,49,5461,MOT,...,question,3,Eng-NA,,,,1,eng,Providence,
3,7145996,dog,dog,v,3617,1856538,1,49,5461,CHI,...,declarative,3,Eng-NA,,,,1,eng,Providence,
4,7146021,dog,dog,v,3621,1856544,1,49,5461,MOT,...,declarative,3,Eng-NA,,,,1,eng,Providence,
5,7146030,dog,dog,n,3621,1856541,4,49,5463,MOT,...,question,3,Eng-NA,,,,1,eng,Providence,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3375,40723774,dogs,dog,v,15457,10630689,2,204,26606,MOT,...,question,13,Eng-UK,,,3S,2,eng,Manchester,
3376,40741490,dogs,dog,n,15457,10635792,2,204,26612,MOT,...,question,13,Eng-UK,,,PL,2,eng,Manchester,
3377,40881936,dogs,dog,v,15455,10671850,1,204,26671,CHI,...,declarative,13,Eng-UK,,,3S,2,eng,Manchester,
3378,8685838,dogs',dog,n,3672,2242459,1,49,5754,MOT,...,declarative,3,Eng-NA,,,PL,3,eng,Providence,poss s
3379,8734634,dogs',dog,n,3672,2254349,13,49,5754,MOT,...,declarative,3,Eng-NA,,,PL,3,eng,Providence,poss s

In [4]:
childesr_wrapper.get_database_version()

R[write to console]: Using current database version: '2018.1'.

'2018.1'